<div class="flex flex-row">
  <div class="p-6 col-auto">
    <h2 class="text-lg">Welcome to your Dashboard, {{username}}!</h2>
  </div>
</div>

<div class="post row mt-4">
  <div
    class="container basis-1/2 border border-solid border-lime-700 rounded p-5 m-5"
  >
    <h3 class="text-xl font-bold mb-5">Create a New Blog Post:</h3>

    <form class="form new-blog-form mb-5">
      <div class="form-group mb-5">
        <input
          class="form-input form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          type="text"
          id="post-title"
          name="post-title"
          placeholder="Blog Title"
        />
      </div>

      <div class="form-group">
        <textarea
          class="form-input form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="post-desc"
          name="post-desc"
          placeholder="Blog Content"
        ></textarea>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded btn btn-primary"
        >Create</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
    <div class="blog-list p-5">
      <h3 class="text-lg">Your Blog Posts:</h3>
    </div>
    <div class="flex">
      {{#each posts as |post|}}

        <div
          class="flex-col block border border-solid border-lime-700 rounded-lg shadow-lg bg-white max-w-sm text-center p-5 m-5"
        >
          <div class="mb-5">
            <h4
              class="font-bold leading-tight text-3xl mt-0 mb-2 py-3 px-6 border-b border-gray-300"
            ><a href="/post/{{post.id}}">{{post.title}}</a></h4>
          </div>
          <p class="py-3 px-6 border-b border-gray-300"><a
              href="/blog/{{post.id}}"
            >{{post.description}}</a></p>

          <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
            <p class="newPost text-center">
              Created on
              {{format_date post.date_created}}
            </p>
          </div>
          <div class="p-6">
            <button
              class="btn bg-black hover:bg-lime-700 text-white font-bold py-2 px-4 rounded btn btn-primary"
              data-id="{{post.id}}"
            >DELETE</button>
          </div>
        </div>

      {{/each}}
    </div>

  {{/if}}
</div>

<script src="/js/dashboard.js"></script>