{{#each posts as |post| }}
<div class="row align-center mb-5">

  <div class="col-md-6">
    <h2>
      <a class="postTitle text-uppercase" href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
  </div>

  <div class="col-md-6">
    <p class="newPost text-right">
      Created by: {{post.user.username}}
      on {{format_date post.date_created}}
    </p>
  </div>

  <div class="col-md-6">
    <p class="postDesc text-center">
      {{post.description}}
    </p>
  </div>


</div>
{{/each}}
