<div class="grid-cols-3 border-black">
  {{#each posts as |post| }}


  <div class="bg-stone-200 px-3 py-2 border-black">
    <h2>
      <a class="postTitle text-uppercase" href="/post/{{post.id}}">{{post.title}}</a>

      <p class="newPost text-right">
        Created by: {{post.user.username}}
        on {{format_date post.date_created}}
      </p>
    </h2>
  
    {{!-- <div class="col-md-6"> --}}
      {{!-- <p class="newPost text-right">
        Created by: {{post.user.username}}
        on {{format_date post.date_created}}
      </p> --}}
    {{!-- </div> --}}
  </div>
  <div class="col-md-6 px-6 py-6">
    <p class="postDesc text-center">
      {{post.description}}
    </p>
  </div>



{{/each}}
</div>